<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>User secured page</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h3>This is USER secured page.</h3>
    <h1 align="center">List of Banks</h1>
    <p align="center"><a href="/" th:href="@{/}">Back to home page</a></p>
    <div id="userview"/>
    <script th:src="@{/client/public/user.js}" type="text/javascript"/>
</div>
</body>
</html>

